@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animated gradient background */
@keyframes gradient-move {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient-bg {
  background: linear-gradient(120deg, #15803d, #65a30d, #4ade80, #16a34a);
  background-size: 400% 400%;
  animation: gradient-move 10s ease infinite;
}
